<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662872165907-4iqgt7605rdpbrfn3265ccirqqi380ss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662872165907-4iqgt7605rdpbrfn3265ccirqqi380ss</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>662872165907-loc3spuft6h6r9f1mmitkrcq56dnded2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBo_iRqapEN6lP9ifLnBye7cv05q8qGIKU</string>
	<key>GCM_SENDER_ID</key>
	<string>662872165907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Aube.Sales</string>
	<key>PROJECT_ID</key>
	<string>aube-61c1c</string>
	<key>STORAGE_BUCKET</key>
	<string>aube-61c1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662872165907:ios:4406ed0e853178202ab9e6</string>
	<key>DATABASE_URL</key>
	<string>https://aube-61c1c.firebaseio.com</string>
</dict>
</plist>